# Data Cleaning Customer Address

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from datetime import datetime, date

In [2]:
cust_address =pd.read_excel('Raw_data.xlsx', sheet_name='CustomerAddress')

In [3]:
cust_address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [4]:
# Information of columns and data-types of Customer Address Data.

cust_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

# Checking Total Records

In [5]:
print("Total records (rows) in the dataset : {}".format(cust_address.shape[0]))
print("Total columns (features) in the dataset : {}".format(cust_address.shape[1]))

Total records (rows) in the dataset : 3999
Total columns (features) in the dataset : 6

# Numeric and Non-Numeric Columns

In [9]:
df_numeric = cust_address.select_dtypes(include=[np.number])
numeric_cols = df_numeric.columns.values
numeric_cols

array(['customer_id', 'postcode', 'property_valuation'], dtype=object)

In [10]:
df_non_numeric = cust_address.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values
non_numeric_cols

array(['address', 'state', 'country'], dtype=object)

# Checking for Missing Values

In [13]:
# Total number of missing values
cust_address.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

# Data Inconsistencies

## State Column

In [17]:
cust_address['state'].value_counts()

state
NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: count, dtype: int64

- NSW and VIC have 2 other full name values, so we will replace them with their short forms

In [18]:
def replace_state_names(state_name):
    
    if state_name=='New South Wales':
        return 'NSW'
    elif state_name=='Victoria':
        return 'VIC'
    else :
        return state_name

cust_address['state'] = cust_address['state'].apply(replace_state_names)

In [19]:
cust_address['state'].value_counts()

state
NSW    2140
VIC    1021
QLD     838
Name: count, dtype: int64

# Country Column

In [20]:
cust_address['country'].value_counts()

country
Australia    3999
Name: count, dtype: int64

- No inconsistency here

# Dropping Duplicate Addresses

In [24]:
cust_address[['address','postcode','state','country']].drop_duplicates()

                        address  postcode state    country
0            060 Morning Avenue      2016   NSW  Australia
1           6 Meadow Vale Court      2153   NSW  Australia
2            0 Holy Cross Court      4211   QLD  Australia
3           17979 Del Mar Point      2448   NSW  Australia
4              9 Oakridge Court      3216   VIC  Australia
...                         ...       ...   ...        ...
3994            1482 Hauk Trail      3064   VIC  Australia
3995  57042 Village Green Point      4511   QLD  Australia
3996     87 Crescent Oaks Alley      2756   NSW  Australia
3997           8194 Lien Street      4032   QLD  Australia
3998            320 Acker Drive      2251   NSW  Australia

[3999 rows x 4 columns]

# Duplication Check

In [28]:
# Dropping the primary key column as it will always be unique. In our case customer id.
cust_address_dedupped = cust_address.drop('customer_id', axis=1).drop_duplicates()

print('Number of records after removing customer_id or primary key, duplicates : {}'.format(cust_address_dedupped.shape[0]))
print('Number of records in original dataset : {}'.format(cust_address.shape[0]))

Number of records after removing customer_id or primary key, duplicates : 3999
Number of records in original dataset : 3999

- Since the number of indexes or rows are same in both cases, henece we have no duplictated values.
- Note: .format is a property of Pandas that return number of rows and columns as a tuple

# Exporting Cleaned Data set to CSV

In [27]:
cust_address.to_csv('CustomerAddress_Cleaned.csv', index=False)

#Index=false will make sure we don't have an added column with number of rows in the csv file